/* some style */

:root{
    --width: min(80vh, 100vw);
}
.svgish{
    max-width: var(--width);
}

svg.diagram {
    stroke: grey;
    stroke-width: .7%;
    transform: scaleY(-1);
    fill: None;
}

.arrowed{
    marker-end: url(#arrow);
}


#unit{
    fill: None;
    stroke: grey;
}


.axis{
    fill: None;
    stroke: skyblue;
    stroke-width: .05%;
}

.grid{
    fill: None;
    stroke: lightblue;
    stroke-width: .05%;
}

.slider {
    width: 100%;
}

input.input.is-narrow{
    width:50pt;
}

circle.point {
    stroke: None;
    fill: black;
    r: .02pt;
}


.tdir{
    stroke-width: .5%;
    stroke: lightgrey;
}

.tdir.level {
    stroke-width: .1%;
    stoke: lightblue;
}

.sdir.level{
    stroke-width: .2%;
    stroke: lightgrey;
}
